[submodule "src_texts/morphhb"]
	path = src_texts/morphhb
	url = https://github.com/openscriptures/morphhb.git
[submodule "src_texts/HebrewLexicon"]
	path = src_texts/HebrewLexicon
	url = https://github.com/openscriptures/HebrewLexicon.git
